provider "vultr" {
  api_key     = "VULTR_API_KEY"
  rate_limit  = 100
  retry_limit = 3
}

terraform {
  backend "s3" {
    access_key = "AWS_ACCESS_KEY"
    secret_key = "AWS_SECRET_KEY"
    region     = "us-east-1"
    bucket     = "tfstate.singularitynet.io"
    key        = "das-infra-stack-vultr.tfstate"
  }
}
